# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# MLflow Tracking & Artifacts
mlruns/
mlartifacts/
.mlflow/
*.db

# Weights & Biases
wandb/
.wandb/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# Archivos locales de contexto, enunciado y propuesta de clase
_context/
wine+quality/
